.ck .ck-content {
  background-color: black !important;
}
/* .ck .ck-content h2,
h3,
h4 {
  color: #d22d2d;
}
.ck-content h2 {
  display: block;
  font-size: 1.5rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.ck-content h3 {
  display: block;
  font-size: 1.25rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.ck-content h4 {
  font-size: 1rem;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.ck-content a {
  color: #c33c3c !important;
  text-decoration: underline;
}
.ck-content ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style-type: disc;
}
.ck-content ol {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style-type: decimal;
}
.ck-content li {
  display: list-item;
  text-align: -webkit-match-parent;
} */
.ck-toolbar {
  background-color: black !important;
}
.ck-button {
  color: #f9ecec !important;
}
.ck-button:hover {
  background-color: #c33c3c !important;
}
.ck-button:active {
  background-color: #c33c3c !important;
}
.ck-list {
  background-color: black !important;
}
